<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" type="image/x-icon" href="/static/CanyLogo.svg">
    <title>Connexion</title>
    <style>
        .code-4 {
            color : red
        }

        .code-2 {
            color : green
        }
    </style>
</head>
    <body>
        <header>
            <img src="/static/CanyLogo.svg" alt="logo"/>
            <nav>
                <a href="/">Home</a>
                <a href="/connexion"> Connexion</a>
                <a href="/espaceperso"> Espace client </a>
                <a href="/apropos"> Le salon</a>
            </nav>
        </header>
        <main>
            <h1>Saisissez vos informations {{test}}</h1>
            <form action = "/fillClientInformation" method="post">
                <label>Prénom : <br></label>
                <input type='text' name='name' id='name'> <br>

                <label>Numero de téléphone :  <br></label>
                <input type='text' name='number' id='number'> <br>
                <button type='submit'> envoyer </button>
            </form>
            <p class = "code-{{codeProfile}}">{{message}}</p>
        </main>
    </body>
</html>