<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"> 
    <link rel="icon" type="image/x-icon" href="/static/CanyLogo.svg">
    <title>Connexion</title>
    <style>
        .code-4 {
            color : red
        }

        .code-2 {
            color : green
        }

        #creation{
            margin: 0px;
            font-size: 1rem;
        }
    </style>
</head>
    <body>
        <header>
            <a href="/">
                <img src="/static/CanyLogo.svg" alt="logo"/>
            </a>
            <nav>
                <a href="/">Home</a>
                <a href="/connexion"> Connexion</a>
                <a href="/espaceperso"> Espace client </a>
                <a href="/apropos"> Le salon</a>
            </nav>
        </header>
        <main>
            <p class="title">Sucessfully disconnected from acount !</p>
            <nav>
                <a href="/">Home</a>
            </nav>
        </main>
    </body>
</html>