<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Espace client </title>
</head>
<body>

<h1>Bienvenue dans l'espace client !</h1>


<h2>Ajouter un chien</h2>

<form method="POST" action="/add-chien">

    <input type="text" name="nom" placeholder="Nom du chien" required>
    <input type="text" name="race" placeholder="Race" required>
    <select name="client_id" required> #choisir propiro 
        #parcourt la liste des clients envoyés par le serveur 
        {% for client in clients %}
        #chaque ckient devient une option 
            <option value="{{ client.id }}">
                {{ client.nom }}
            </option>
        {% endfor %}
    </select>
    <button type="submit">Ajouter chien</button>

</form>

{% if message %}
    <p>{{ message }}</p>
{% endif %}

</body>
</html>
